.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
.github/**
.gitignore
.eslintrc.json
eslint.config.mjs
esbuild.js
tsconfig.json
pnpm-lock.yaml
**/*.map
**/*.ts
!dist/**
vsc-extension-quickstart.md
